.features {
  // display: flex;
}

.features__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  // position: relative;

  // &:not(:last-child) {
  //   margin-right: $card-gap;
  // }
}

.features__thumb {
  @include centered-flex();
  min-height: 120px;
  margin-bottom: $card-gap;
  border-radius: 4px;
  background-color: $secondary-bg-color;
}

.features__title {
  @extend %title;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.features__text {
  line-height: 1.71;
}
