.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bg-color;
}

.footer__container {
  text-align: center;

  @media screen and (min-width: $large) {
    @include centered-flex($align: baseline);
  }
}

.footer__contacts {
  margin-bottom: 60px;

  color: $primary-bg-white-color;

  @media screen and (min-width: $large) {
    margin-right: 70px;
    //  margin-bottom: 0;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.address__link {
  @extend %link;
  display: block;
  margin-bottom: 8px;

  @media screen and (min-width: $large) {
    margin-bottom: 9px;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: $large) {
    margin-bottom: 9px;
  }
}

.footer-contacts__link {
  @extend %link;
  line-height: 1.71;
  color: $contacts-text-color;
  transition: color $timing $function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__social {
  margin-bottom: 60px;

  @media screen and (min-width: $large) {
    margin-right: auto;
    //  margin-bottom: 0;
  }
}

.footer__text {
  margin-bottom: 20px;

  font-weight: $bold;
  text-transform: uppercase;
  color: $primary-bg-white-color;
}
