.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $small) {
    width: 480px;
  }

  @media screen and (min-width: $medium) {
    width: 768px;
  }

  @media screen and (min-width: $large) {
    width: 1200px;
  }
}
